* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.87);
}

a:hover {
    opacity: .85;
    text-decoration: underline;
}

a:visited {
    color: rgba(0,0,0,0.87);
}

header {
    display: flex;
    justify-content: flex-end;
    height: 6.5rem;
}

header nav{
    display: flex;
    align-self: center;
    margin-right: 1rem;
    height: 100%;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    color: rgba(0,0,0,0.87);
    height: auto;
}

header nav ul li {
    margin-right: 1.8rem;
    line-height: .5rem;
}

#header__menu--icon {
    content: url(../assets/menu.svg);
    width: 1.7rem;
    height: 1.7rem;
    opacity: .5;
}

#header__menu--icon:hover {
    opacity: 1;
}

#header__profile--icon {
    content: url("https://lh3.googleusercontent.com/ogw/ADGmqu-VFlw2VigMOE_O-NArYyN10g3Qe7K4zgd_M5sumQ=s64-c-mo");
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

#header__profile--icon:hover {
    opacity: 1;
}

.main__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0rem auto;
    min-height: 56.8rem;
    padding-top: 9rem;
}

.main__container--img {
    margin-bottom: 2.1rem;
}

picture {
    width: 20rem;
    height: auto;
}

main picture img {
    width: 100%;
    height: auto;
}

.main__input--container {
    position: relative;
}

.main__input--container::before {
    content: url(../assets/lupa.png);
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
}

.main__input--container::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent url("https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg") no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
    top: 1.25rem;
    right: 1.5rem;
    cursor: pointer;
}

.main__input {
    width: 27rem;
    height: 4.4rem;
    border-radius: 2.1rem;
    outline: none;
    background-color: transparent;
    border: .1px solid rgba(118, 118, 118, 0.4);
    font-size: 1.6rem;
    color: rgba(0,0,0,0.87);
    padding-left: 4rem;
    
}

.main__input:hover {
    box-shadow: 0px 1px 5px 1px rgba(118, 118, 118, 0.4);
}

.main__input:focus {
    box-shadow: 0px 1px 5px 1px rgba(118, 118, 118, 0.4);
}

.main__buttons--container {
    width: 27rem;
    text-align: center;
    margin-top: 2.5rem;
}


.main__buttons--container button {
    height: 3.7rem;
    padding: 0rem 1.6rem;
    margin: 1rem .4rem;
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 1.4rem;
    outline: none;
}

.main__buttons--container button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

.main__leng--container {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.main__leng--container a{
    color: #1a0dab;
    margin-left: .1rem;
}

footer {
    background-color: #f2f2f2;
    height: 16rem;
    width: 100%;
    margin-top: -9rem;
    line-height: 2;
    position: absolute;
    bottom: 0;
}

.footer__top--container {
    width: 100%;
    font-size: 1.5rem;
    padding: .7rem .7rem .7rem 3rem;
    color: #70757a;
    border-top: 1.5px solid #dadce0;
    border-bottom: 1.5px solid #dadce0;
}

.footer__bottom--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__bottom--left {
    text-align: left;
    padding: .7rem .7rem .7rem 3rem;
}

.footer__bottom--left a {
    color: #70757a;
    font-size: 1.4rem;
    margin-right: 1.5rem;
}

.footer__bottom--right  {
    text-align: right;
    padding: .7rem .7rem .7rem 3rem;
}

.footer__bottom--right a {
    color: #70757a;
    font-size: 1.4rem;
    margin-right: 1.5rem;
}

